.container{
    position: relative;
    width:90%;
    display: flex;
    margin: 5%;
   justify-content: center;
    flex-direction: column;
    box-sizing:border-box;
    border: 1px solid rgb(250, 243, 243); 
    box-shadow: 10px 5px 5px #cac2c2;
}
.group1{
    width: 98%;
    display:flex;
    padding:1%;
    border:1px solid  rgb(250, 243, 243);
}
.group2{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    flex:2;
    border:1px solid  rgb(250, 243, 243);
}
.g1second{
    margin-left:10%;
}
.seconddiv{
    width:60%;
    padding:1%;
}
.thirddiv{
    width:40%;
    padding: 1%;
    background: #eae6e6;
}
.fa {
position: absolute;
margin-left:96%
}